{% extends 'base.html.twig' %}
{% block title %}Acceuil{% endblock %}
{% block monTitre %}Bienvenue sur Loc.com{% endblock %}

{% block body %}
{% for message in app.flashes('success') %}
<div class="alert alert-success">
    {{ message }}
</div>
{% endfor %}


{% endblock %}
